list_accessory/services/accessory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:tns="http://localhost:3016/accessoryService" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             targetNamespace="http://localhost:3016/accessoryService" 
             name="AccessoryService">

  <types>
    <xsd:schema targetNamespace="http://localhost:3016/accessoryService">
      <xsd:element name="listAccessoryRequest" type="xsd:anyType"/>
      <xsd:element name="listAccessoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accessoryList" type="tns:AccessoryArray"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="Accessory">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="type" type="xsd:string"/>
          <xsd:element name="price" type="xsd:decimal"/>
          <xsd:element name="quantity" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AccessoryArray">
        <xsd:sequence>
          <xsd:element name="Accessory" type="tns:Accessory" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="listAccessoryRequest">
    <part name="parameters" element="tns:listAccessoryRequest"/>
  </message>
  <message name="listAccessoryResponse">
    <part name="parameters" element="tns:listAccessoryResponse"/>
  </message>

  <portType name="AccessoryServicePortType">
    <operation name="listAccessory">
      <input message="tns:listAccessoryRequest"/>
      <output message="tns:listAccessoryResponse"/>
    </operation>
  </portType>

  <binding name="AccessoryServiceSoapBinding" type="tns:AccessoryServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="listAccessory">
      <soap:operation soapAction="http://localhost:3016/accessoryService/listAccessory"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="AccessoryService">
    <port name="AccessoryServiceSoapPort" binding="tns:AccessoryServiceSoapBinding">
      <soap:address location="http://localhost:3016/wsdl"/>
    </port>
  </service>

</definitions>
