list_medicines/services/medicine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:tns="http://localhost:3019/medicineService" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             targetNamespace="http://localhost:3019/medicineService" 
             name="MedicineService">

  <types>
    <xsd:schema targetNamespace="http://localhost:3019/medicineService">
      <xsd:element name="listMedicineRequest" type="xsd:anyType"/>
      <xsd:element name="listMedicineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="medicineList" type="tns:MedicineArray"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="Medicine">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="usage" type="xsd:string"/>
          <xsd:element name="price" type="xsd:decimal"/>
          <xsd:element name="quantity" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MedicineArray">
        <xsd:sequence>
          <xsd:element name="Medicine" type="tns:Medicine" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="listMedicineRequest">
    <part name="parameters" element="tns:listMedicineRequest"/>
  </message>
  <message name="listMedicineResponse">
    <part name="parameters" element="tns:listMedicineResponse"/>
  </message>

  <portType name="MedicineServicePortType">
    <operation name="listMedicine">
      <input message="tns:listMedicineRequest"/>
      <output message="tns:listMedicineResponse"/>
    </operation>
  </portType>

  <binding name="MedicineServiceSoapBinding" type="tns:MedicineServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="listMedicine">
      <soap:operation soapAction="http://localhost:3019/medicineService/listMedicine"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MedicineService">
    <port name="MedicineServiceSoapPort" binding="tns:MedicineServiceSoapBinding">
      <soap:address location="http://localhost:3019/wsdl"/>
    </port>
  </service>

</definitions>
